<mat-card>
  <mat-card-title>
    <div class="flex-baseline">
      <span>Target #{{ index + 1 }}</span>
      <div class="filler"></div>
      <button (click)="remove.emit(index)" mat-icon-button><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card-title>
  <mat-card-subtitle>Preset</mat-card-subtitle>
  <mat-card-content>
    <div>
      <button mat-stroked-button (click)="preset(0)">14 Facets</button>
      7/7, 9/5, 10/4 (Exclude 8/6)
    </div>
    <div>
      <button mat-stroked-button (click)="preset(1)">16 Facets</button>
      9/7, 10/6 (Exclude 8/8)
    </div>
  </mat-card-content>
  <mat-card-subtitle>Target Setting</mat-card-subtitle>
  <mat-card-content>
    <div>
      <mat-form-field class="w-120">
        <mat-label>Total Facets</mat-label>
        <mat-select [(ngModel)]="task.goal.abilityTotal">
          <mat-option [value]="i + na" *ngFor="let i of arr"
            >{{ i + na }} Facets</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-120">
        <mat-label>Ideal + Ability 1</mat-label>
        <mat-select [(ngModel)]="task.goal.ability1">
          <mat-option [value]="i" *ngFor="let i of arr"
            >{{ i }} Failure</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-120">
        <mat-label>Ideal + Ability 2</mat-label>
        <mat-select [(ngModel)]="task.goal.ability2">
          <mat-option [value]="i" *ngFor="let i of arr"
            >{{ i }} Failure</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-120">
        <mat-label>Ideal - Ability 1</mat-label>
        <mat-select [(ngModel)]="task.goal.penalty">
          <mat-option [value]="i" *ngFor="let i of arr"
            >{{ i }} Success</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="changeGoal()">
      Apply Changes
    </button>
  </mat-card-content>
  <mat-card-subtitle>Target Table</mat-card-subtitle>
  <mat-card-content>
    <table>
      <tr>
        <td></td>
        <td *ngFor="let cell of task.goalCells[0]; index as i">{{ i }}</td>
      </tr>
      <tr *ngFor="let row of task.goalCells; index as i">
        <td>{{ i }}</td>
        <td
          class="goal-cell"
          [class.filled]="cell"
          color="primary"
          *ngFor="let cell of row; index as j"
          (click)="toggleCell(i, j)"
        >
          <span
            class="star"
            *ngIf="i === indexes.ability1[1] && j === indexes.ability2[1]"
            >★</span
          >
          <span
            class="star"
            *ngIf="
              showFuture &&
              !(i === indexes.ability1[1] && j === indexes.ability2[1]) &&
              i >= indexes.ability1[1] &&
              j >= indexes.ability2[1] &&
              i <= indexes.ability1[0] + indexes.ability1[1] &&
              j <= indexes.ability2[0] + indexes.ability2[1]
            "
            >☆</span
          >
        </td>
        <td class="pad"></td>
        <td
          class="goal-cell"
          [class.nopenalty]="i <= task.penaltyLimit"
          [class.penalty]="i > task.penaltyLimit"
          (click)="changePenalty(i)"
        >
          <span class="star" *ngIf="i === indexes.penalty[1]">★</span>
          <span
            class="star"
            *ngIf="
              showFuture &&
              i > indexes.penalty[1] &&
              i <= indexes.penalty[0] + indexes.penalty[1]
            "
            >☆</span
          >
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
